.genreCarousel {
    padding: 30px 40px;
    background-color: var(--bg);
    color: var(--textColor);
  
    h2 {
      font-size: 1.8rem;
      margin-bottom: 20px;
    }
  
    .genreCard {
      background-color: var(--softBg);
      color: var(--textColor);
      padding: 16px;
      text-align: center;
      border-radius: 12px;
      font-weight: bold;
      cursor: pointer;
      border: 2px solid transparent;
      transition: all 0.3s ease;
  
      &:hover {
        background-color: var(--accent);
        color: rgb(255, 0, 0);
        border-color: var(--accent);
      }
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      color: var(--accent);
    }
  }
  